<div class="container-fluid">
    <h1>
        Bootcamp Enrollment Form
    </h1>

    <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
      <!-- {{userForm.valid}} -->
      <!-- {{userForm.value | json}} -->
      <hr />
      <!-- {{userModel | json}} -->

        <div class="form-group" >
            <Label>Name</Label>
            <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" name="name" [(ngModel)]=userModel.name>
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">*Name field is Required</small>
        </div>

        <div class="form-group">
            <Label>Email</Label>
            <input type="email" class="form-control" name="email"[(ngModel)]=userModel.email>
        </div>

        <div class="form-group">
            <Label>Telephone</Label>
            <input type="tel" #phone="ngModel" pattern="^\d{10}$"  required [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="telephone" [(ngModel)]=userModel.phone>
            <!-- <small class="text-danger" [class.d-none]="phone.untouched || phone.valid">*Phone No. is required Should be 10 Digits</small> -->
            <div *ngIf="phone.errors&&(phone.invalid||phone.touched)">
              <small class="text-danger" *ngIf ="phone.errors.pattern">*Phone No.Should be 10 Digits </small>
              <small class="text-danger" *ngIf="phone.errors.required">*Phone No. is required </small>
            </div>
        </div>
        <!-- <h2>validaton fails for commented lines Indtead use the next one</h2> -->
        <!-- <div class="form-group">
          <select class="custom-select" required #topic="ngModel" [class.is-invalid]="topic.touched && topic.invalid" name="topic" [(ngModel)]=userModel.topic>
            <option value="default">Select your Interest</option>
            <option *ngFor="let topic of topics">{{topic}}</option>
          </select>
          <small class="text-danger" [class.d-none]="topic.untouched || topic.valid">*Please Select a topic</small>
        </div> -->

         <div class="form-group">
           <select (blur)="onValidate(topic.value)" (change)="onValidate(topic.value)" class="custom-select" required
            #topic="ngModel"  [class.is-invalid]="topic.touched && topicHasError" name="topic" [(ngModel)]=userModel.topic>
             <option value="default">Select your Interest</option>
             <option *ngFor="let topic of topics">{{topic}}</option>
             </select>
           <small class="text-danger" [class.d-none]="topic.untouched || !topicHasError">*Please Select a topic</small>
           </div>


        <div class="mb-3">
          <label>Time Preference</label>
          <div class="form-check">
            <input class="form-check-input" type="radio"  [(ngModel)]=userModel.timePreference name="timePreference" value="morning">
            <label class="form-check-label">Morning (9AM-12PM)</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" [(ngModel)]=userModel.timePreference name="timePreference" value="evening">
            <label class="form-check-label">Evening (5PM-8PM)</label>
          </div>
        </div>

        <div class="form-check mb-3">
          <input class="form-check-input" name="subscribe" [(ngModel)]=userModel.subscribe type="checkbox" >
          <label class="form-check-label">Send Me Promotional offers</label>
        </div>
        <button [disabled]="userForm.form.invalid ||topicHasError" class="btn btn-primary" type="submit">Submit Form</button>
    </form>
    <div class="alert alert-danger" *ngIf="errormsg; else elseblock">
      {{errormsg}}
    </div>
    <div class="dark fire">
    <ng-template #elseblock>
      <h3 class="Blazing" contenteditable="true" *ngIf="submitted && submsg">Form Submitted!!</h3>
    </ng-template>
    </div>




</div>
